body, html {
  font-family: 'Marmelad', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #0000ff;
}



body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.box {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

/* Шапка сайта */

.header {
  flex: 0 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(to top, #ffffff, #ffd700);
}

.header_signature {
  display: block;
  text-align: right;
}

.header_title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #32cd32;
}

/* Контент */
.main {
  flex: 1 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-label {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}


.button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
}

input {
  font: inherit;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
  background-color: #fffacd;
}

.button,
.revers {
  text-align: center;
  text-decoration: none;
  padding: 10px;
  display: block;
  font: inherit;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: #fffacd;
  color: #32cd32;
}

.error, .rezult {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 100%;
}

.rezult-text {
  display: block;
  color: green;
  margin-bottom: 20px;
}

.rezult-img {
  display: block;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

.error-text {
  color: red;
}

/* Подвал */

.footer {
  flex: 0 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to top, #ffd700, #ffffff);
}

@media (max-width: 640px) {

  .header_title {
    font-size: 36px;
  }

  .header_signature {
    font-size: 12px;
  }

  .header_signature-name {
    font-size: 20px;
  }

  .form {
    font-size: 20px;
  }

  .rezult-text,
  .error-text {
    font-size: 20px;
  }
}

@media (min-width: 641px) {

  .header_signature {
    font-size: 16px;
  }

  .header_signature-name {
    font-size: 24px;
  }

  .header_title {
    font-size: 48px;
  }

  .form {
    font-size: 24px;
  }

  .rezult-text,
  .error-text {
    font-size: 24px;
  }

  .button:hover,
  .revers:hover {
    background-color: #ffd700;
  }
}
